/*

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Sections

main heading
font-size: 1.8rem

sub heading
font-size: 3.2rem

*/

/*****GENERAL STYLES*******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

/*****GENERAL STYLES*******/

/*****COMPONENT STYLES*****/
.header {
  position: relative;
}
.title-and-logo {
  display: flex;
  align-items: center;
}

.title {
  font-size: 5.2rem;
  font-family: Shadows Into Light;
}

/****Navigation styles****/
.navigation-list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  position: absolute;
  top: 15%;
  left: 75%;
}
.navigation-link {
  text-decoration: none;
  font-family: Shadows Into Light;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}

/*****Hero section styles****/

.hero-section {
  margin-top: 6.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 5rem;
  margin-bottom: 5.2rem;
}

.hero-title {
  font-size: 5.2rem;
  letter-spacing: -0.75px;
  line-height: 0.9;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 2rem;
}
.hero-text {
  font-size: 2.4rem;
  grid-column: 1;
  margin-bottom: 7.2rem;
}

.get-started-link:link,
.get-started-link:visited {
  text-decoration: none;
  display: inline-block;
  background-color: #fd7e14;
  margin-right: 1.2rem;
  width: 16rem;
  height: 6rem;
  padding: 2rem 3.2rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 30px;
  transition: all 0.5s;
  margin-bottom: 3.2rem;
}

.get-started-link:hover,
.get-started-link:active {
  background-color: #e8590c;
  box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.493);
}

.learn-more-link:link,
.learn-more-link:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #343a40;
  transition: all 0.5s;
  padding: 1.2rem 2rem;
  border-radius: 30px;
  background-color: #ced4da;
}
.learn-more-link:hover,
.learn-more-link:active {
  background-color: #adb5bd;
  box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.322);
}

.hero-bg-img {
  background-size: cover;
  width: 100%;
  grid-column: 2;
}

.avatars {
  display: flex;
  align-items: center;
}
.avatar-img {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  margin-right: -1rem;
  border-style: inset;
  border: 2px solid #fff;
}

.avatar-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 3.2rem;
}

.avatar-text span {
  color: #e8590c;
}

.avatar-rating {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
  align-items: center;
}
.rate-star {
  font-weight: 600;
  font-size: 1.4rem;
}

.rate-reviews {
  color: #495057;
  margin-left: 0.5rem;
}

/*******Why Us Section*****/

.why-us-main-header {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-size: 1.8rem;
  color: #e8590c;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.why-us-second-header {
  display: flex;
  justify-content: center;
  font-size: 4.4rem;
  letter-spacing: 0.4px;
}

.illustration-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  justify-items: center;
  margin-left: 14rem;
  margin-top: 3.2rem;
  row-gap: 3.2rem;
}

.illustration {
  max-width: 50%;
  margin-left: 6.6rem;
}

.illustration-header {
  font-size: 2.4rem;
  font-weight: 500;
}

.illustration-text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #343a40;
}

/*Illustrations*/
.ill-1 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 9rem;
}
.ill-2 {
  grid-column: 2;
  grid-row: 1;
}
.ill-3 {
  grid-column: 3;
  grid-row: 1;
}

/*Illustrations headings*/
.ill-head-1 {
  grid-column: 1;
  grid-row: 2;
}
.ill-head-2 {
  grid-column: 2;
  grid-row: 2;
}
.ill-head-3 {
  grid-column: 3;
  grid-row: 2;
}

/*Illustration text*/
.ill-tex-1 {
  grid-column: 1;
  grid-row: 3;
}
.ill-tex-2 {
  grid-column: 2;
  grid-row: 3;
}
.ill-tex-3 {
  grid-column: 3;
  grid-row: 3;
}
/*****COMPONENT STYLES*****/
